{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% block head %}
    <style>
        body {
            margin-top: 20px;
            background-color: #f2f6fc;
            color: #69707a;
        }

        .img-account-profile {
            height: 10rem;
        }

        .rounded-circle {
            border-radius: 50% !important;
        }

        .card {
            background-color: rgba(255,255,255,0.7);
            backdrop-filter: blur(10px);
            /*box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);*/
            box-shadow: 0 4px 25px rgba(0,0,0,0.7);
        }

        .card .card-header {
            font-weight: 500;
        }

        .card-header:first-child {
            border-radius: 0.35rem 0.35rem 0 0;
        }

        .card-header {
            padding: 1rem 1.35rem;
            margin-bottom: 0;
            background-color: rgba(33, 40, 50, 0.03);
            border-bottom: 1px solid rgba(33, 40, 50, 0.125);
        }

        .form-control,
        .dataTable-input {
            display: block;
            width: 100%;
            padding: 0.875rem 1.125rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1;
            color: #69707a;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #c5ccd6;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.35rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .nav-borders .nav-link.active {
            color: #0061f2;
            border-bottom-color: #0061f2;
        }

        .nav-borders .nav-link {
            color: #69707a;
            border-bottom-width: 0.125rem;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0;
            padding-right: 0;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    </style>
    {% endblock head %}
{% block body %}
<section class="body-section">
<div class="container-xl px-4 mt-4">
    <form class="row" method="post" id="profile-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-md-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    {% if profile.image %}
                    <!-- Profile picture image-->
                    <img id="thumbnail" class="img-account-profile rounded-circle mb-2" src="{{profile.image.url}}" alt="Profile" >
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>
                    {% comment %} <img id="thumbnail" class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt=""> {% endcomment %}
                    {% endif %}
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 2 MB</div>
                    <!-- Profile picture upload button-->
                    <!-- Profile picture image-->
                    <input type="file" name="image" id="profileImage" hidden>
                    <label for="profileImage" class="btn btn-info" >  Upload new image</label>
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" name="fname" id="inputFirstName" type="text" placeholder="Enter your first name" value="{{request.user.first_name}}" required>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" name="lname" id="inputLastName" type="text" placeholder="Enter your last name" value="{{request.user.last_name}}" required>
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Institute name</label>
                                <input class="form-control" name="college" id="inputOrgName" type="text" placeholder="Enter your Institute name" value="{{profile.college}}" required>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Address</label>
                                <input class="form-control" name="address" id="inputLocation" type="text" placeholder="Enter your address" value="{{profile.address}}" required>
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" name="email" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="{{request.user.email}}" readonly>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputRollno">University Roll Number</label>
                                <input class="form-control" name="rollno" id="inputRollno" type="text" maxlength="16" placeholder="Enter your Roll Number" value="{{profile.rollno}}" required>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">Gender</label>
                                <select name="gender" id="gender" required class="form-control">
                                    <option value="">Select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" name="phone" id="inputPhone" type="tel" placeholder="Enter your phone number" value="{{profile.phone}}" required>
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="form-control" name="dob" id="inputBirthday" type="date"  placeholder="Enter your birthday" value="{{dob}}" required>
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Save changes</button>
                        
                </div>
            </div>
        </div>
    </form>
    <div class="row justify-content-end">
        <div class="card mb-4 col-md-8">
            <div class="row p-4 justify-content-evenly">
            <h2 class="col-md-8">Your Tickets</h2>
            <form action="{% url 'send_ticket' %}" class="col-md-4" id="email-form" method="post">
                {% csrf_token %}
                <input  class="btn btn-outline-primary" form="email-form" type="submit" value="Send Master Pass">
            </form> 
        </div>
            {% for ticket in tickets %}
            <div class="m-auto">
            <img class="m-2 w-100" src="data:image/png;base64,{{ticket}}" alt="Ticket">
        </div>
            {% endfor %}
        </div>
    </div>
</div>
</section>
{% endblock body %}

{% block script %}
<script>
    document.getElementById("gender").value = "{{profile.get_gender_display}}";
    image = document.getElementById("profileImage");
  img = document.getElementById("thumbnail");
  image.addEventListener("change", function () {
    file = this.files[0]
    if (file) {
      const reader = new FileReader();
      reader.onload = function () {
        const result = reader.result;
        img.src = result;
      }
      reader.readAsDataURL(file);
    }
  });
</script>
{% endblock script %}
