asgiref
boto3
botocore
certifi
chardet
charset-normalizer
defusedxml
diff-match-patch
Django
django-import-export
django-storages
et-xmlfile
gunicorn
idna
jmespath
MarkupPy
odfpy
openpyxl
packaging
Pillow
PyMySQL
pyotp
pypng
python-dateutil
pytz
PyYAML
qrcode
requests
s3transfer
segno
setuptools
six
sqlparse
tablib
typing_extensions
urllib3
xlrd
xlwt
