{% extends "base.html" %}
{% load static %}
    {% block title %}Itineary{% endblock title %} 
    {% block head %}
    <link rel="stylesheet" href="{% static "css/itinerary.css" %}">
    <style>
        body{
            
    background-image: url("{% static "assets/itinerary/background1.jpg" %}");
        }
    </style>
    {% endblock head %}
    {% block body %}
    <div class="headline">
        <div class="days">
            <a href="{% url "itinerary" %}/1">
                <img src="{% static "assets/itinerary/single-mushroom-removebg-preview.png" %}" alt="">
                <div class="day"><b>Day 1</b></div>
            </a>
            <a href="{% url "itinerary" %}/2">
                <img src="{% static "assets/itinerary/double-mushroom-removebg-preview.png" %}" alt="">
                <div class="day"><b>Day 2</b></div>
            </a>
            <a href="#">
                <img src="{% static "assets/itinerary/triple-mushroom-removebg-preview.png" %}" alt="">
                <div class="day"><b>Day 3</b></div>
            </a> 
        </div>
    </div>
    <section class="timeline">
        
        <ul>
            <li>
                <!-- <div>
                    <time>1687</time>
                    <div class="discovery">
                        <h1>Discovery</h1>
                        <p>
                            Laws of motion
                        </p>
                    </div>
                    <div class="scientist">
                        <h1>Scientist</h1>
                        <span>Newton</span>
                    </div>
                </div> -->
            </li>
            <li>
                <div>
                    <b><time class="time">08:30 AM TO 11.30 AM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Pro-Lets</h1>
                        <b>
                            <p> Lab of A-Block </p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">9:00 AM TO 11.00 AM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Technocrazy</h1>
                        <b>
                            <p> BLG-14 </p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">9:00 AM TO 11.30 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Beat The Beats</h1>
                        <b>
                            <p>C-Block Stage </p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">09.30 AM TO 12.30 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Best out of waste</h1>
                        <b>
                            <p> Basement C-block </p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">10:00 AM TO 12.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Half Court Basketball (3V3)</h1>
                        <b>
                            <p>Basketball Court</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">10:00 AM TO 12.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Resin O'clock</h1>
                        <b>
                            <p>D block</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">10:00 AM TO 1.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Web Bro</h1>
                        <b>
                            <p>Computer Lab</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">11:00 AM TO 1.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Situaltional Que</h1>
                        <b>
                            <p>Conference hall D Block</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">11:00 AM TO 01.30 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Kavya</h1>
                        <b>
                            <p>A-Block Audi</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">11:30 AM TO 1.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Beg Borrow Steal</h1>
                        <b>
                            <p>C-Block Stairs</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">12.00 PM TO 2.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Crypto Mining</h1>
                        <b>
                            <p>CT-11,Ct-12,CT-19</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">12.00 PM TO 03.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Subito</h1>
                        <b>
                            <p>A Block Labs</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">12.00 PM TO 05.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Robowar</h1>
                        <b>
                            <p>GH-Lawn</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">01.00 PM TO 2.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Electroquizzer</h1>
                        <b>
                            <p>BLG-06</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">01.00 PM TO 3.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Rockathon Finals</h1>
                        <b>
                            <p>C-Block Stage</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">01.00 PM TO 3.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Tech Spectrum</h1>
                        <b>
                            <p>DT-07,DT-09</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">01.30 PM TO 2.30 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Virtual Vision</h1>
                        <b>
                            <p>Conference Hall D-Block</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div class="contant">
                    <b><time class="time">01.30 PM TO 03.30 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Sack Race</h1>
                        <b>
                            <p> Central Lawn</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1></h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">01.30 PM TO 04.30 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Flick(short flim)</h1>
                        <b>
                            <p>Seminar hall - 501</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">03.00 PM TO 05.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Game of Series and Movies</h1>
                        <b>
                            <p>Seminar Hall C-Block 401</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">05.30 PM TO 8.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Bootstrapping Finals</h1>

                        <b>
                            <p> Main Stage</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>
            <li>
                <div>
                    <b><time class="time">08.00 PM TO 10.00 PM</time></b>
                    <div class="discovery">
                        <!-- <img src="https://toc.h-cdn.co/assets/16/14/3200x2136/1971-lamborghini-miura-sv_1.jpg" alt=""> -->
                        <h1>Celebrity</h1>

                        <b>
                            <p> Main Stage</p>
                        </b>
                    </div>
                    <!-- <div class="scientist">
                        <h1>Central Lawn</h1>
                        <span></span>
                    </div> -->
                </div>
            </li>






        </ul>

    </section>
{% endblock body %}
{% block script %}


<script>
    var items = document.querySelectorAll(".timeline li");

    function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }

    function callbackFunc() {
        for (var i = 0; i < items.length; i++) {
            if (isElementInViewport(items[i])) {
                if (!items[i].classList.contains("in-view")) {
                    items[i].classList.add("in-view");
                }
            } else if (items[i].classList.contains("in-view")) {
                items[i].classList.remove("in-view");
            }
        }
    }

    window.addEventListener("load", callbackFunc);
    window.addEventListener("scroll", callbackFunc);

</script>

{% endblock script %}