{% extends "base.html" %}
{% load static %}
{% block title %}Renaissance 2024{% endblock title %}
{% block head %}
    <style>
        @font-face {
            font-family: a;
            src: url({% static "fonts/magic-school.one.ttf" %});
        }
        
        @font-face {
            font-family: b;
            src: url({% static "fonts/magic-school.one.ttf" %});
        }
        
        @font-face {
            font-family: c;
            src: url({% static "fonts/magic-school.one.ttf" %});
        }
        
    </style>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
{% endblock head %}

{% block body %}
    <div id="main">
        <div data-scroll data-scroll-speed="-5" id="page1">

            <div class="bottom-page1">
                <!-- <h1>Experience Enchanted <br>Renaissance 2K24</h1> -->

            </div>
            <video src="{% static "assets/index/index.webm" %}" autoplay loop muted></video>
        </div>
        <div id="page11">
            <!-- <h1>Our Celebrities</h1> -->
            <div class="page11-inner">
                <div class="left11">
                    <img src="{% static "assets/index/celebrity.jpg" %}" alt="">
                </div>
                <div class="right11">
                    <h1>MARCH 19-2024</h1>
                    <h2>Celebrities Night (Bollywood Celebrity)</h2>

                </div>
            </div>
            <div class="page11-inner">
                <div class="left11">
                    <img src="{% static "assets/index/dj.jpg" %}" alt="">
                </div>
                <div class="right11">
                    <h1>MARCH 20-2024</h1>
                    <h2>DJ (International DJ)</h2>

                </div>
            </div>
            <div class="page11-inner">
                <div class="left11">
                    <img src="{% static "assets/index/band.jpg" %}" alt="">
                </div>
                <div class="right11">
                    <h1>MARCH 21-2024</h1>
                    <h2>Cultural Festival</h2>

                </div>
            </div>
        </div>

    </div>
    {% endblock body %}
    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
        integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
        integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static "js/index.js" %}"></script>
    {% endblock script %}
