@media (max-width: 768px) {

    .active-element {
        visibility: hidden;
    }
}

/* @media only screen and (max-width: 600px) and (min-width: 400px) {...}  */
nav {
    /* position: relative; */
    z-index: 1000;
    top:0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    list-style: 22px;
    color: #fff;
    transition: color 0.25s;
}

nav ul li.active button {
    color: #00fffc;
}

nav ul li:not(.active):hover button {
    color: #807E8C;
}

nav .active-element {
    --active-element-scale-x: 1;
    --active-element-scale-y: 1;
    --active-element-show: 0;
    --active-element-opacity: 0;
    --active-element-width: 0px;
    --active-element-strike-x: 0%;
    --active-element-mask-position: 0%;
    position: absolute;
    left: 0;
    top: 45px;
    height: 3px;
    width: 50px;
    border-radius: 2px;
    background-color: #fff;
    opacity: var(--active-element-show);
}

nav .active-element>svg,
nav .active-element .strike {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: var(--active-element-opacity);
    width: var(--active-element-width);
    /* mix-blend-mode: multiply; */
}

nav .active-element>svg {
    /* display: block; */
    /* overflow: visible; */
    /* height: 5px; */
    filter: blur(0.5px) drop-shadow(2px 0px 8px rgba(0, 117, 255, 0.4)) drop-shadow(1px 0px 2px rgba(0, 128, 255, 0.8)) drop-shadow(0px 0px 3px rgba(153, 204, 255, 0.4)) drop-shadow(2px 0px 8px rgba(137, 196, 255, 0.45)) drop-shadow(8px 0px 16px rgba(153, 204, 255, 0.5));
}

nav .active-element .strike {
    padding: 24px 0;
    -webkit-mask-image: linear-gradient(to right, transparent calc(0% + var(--active-element-mask-position)), black calc(15% + var(--active-element-mask-position)), black 80%, transparent);
    mask-image: linear-gradient(to right, transparent calc(0% + var(--active-element-mask-position)), black calc(15% + var(--active-element-mask-position)), black 80%, transparent);
}

nav .active-element .strike svg {
    /* display: block; */
    /* overflow: visible; */
    height: 12px;
    width: calc(var(--active-element-width) * 2);
    transform: translate(var(--active-element-strike-x), 30%) scale(var(--active-element-scale-x), var(--active-element-scale-y));
}

nav .active-element .strike svg:last-child {
    transform: translate(var(--active-element-strike-x), -30%) scale(-1);
}

nav .active-element .strike svg g path:nth-child(2) {
    filter: blur(2px);
}

nav .active-element .strike svg g path:nth-child(3) {
    filter: blur(4px);
}

nav.before .active-element {
    transform: rotateY(180deg);
}

html {
    /* box-sizing: border-box; */
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}


*:before,
*:after {
    box-sizing: inherit;
}

.header {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    /* align-items: center; */

    background-color: #000;
    position: relative;

}


.header:before {
    content: "";
    opacity: 0.3;

}


.navbar {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    /* height: 30px !important; */
    position: fixed !important;
    width: 98%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-left: 16px;
    transition: transform 0.3s ease;
    max-width: 55px;
    max-height: 55px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center align items */
}

.nav-item {
    margin: 0 20px;
    position: relative;
    /* margin-left: 100px; */
}



.toggle-btn {
    display: none;
}

.auth-links {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.auth-links a {
    text-decoration: none;
    color: #fff;
    /* margin-left: 16px; */
    transition: color 0.3s ease;
}

.auth-links a:hover {
    color: #f2a154;
}

.btn-1 {
    padding: 6px 10px;
    margin-left: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

@media only screen and (max-width: 2560px) and (min-width: 768px) {


    #login_btn {
        display: none;
    }

}

.nav-item a.no-underline::before {
    text-decoration: none;
}

.btn-1:hover {
    background-color: #fff;
    color: rgb(58, 55, 55);
    transform: translateY(-2px);

}



@media (max-width: 768px) {
    .navbar {
        padding: 16px;

        nav ul li.active button {
            color: #00fffc;
        }
    }

    .auth-links {
        opacity: 0;
    }

    /* 
    .nav-list {
        flex-direction: column;
        justify-content: center;
        left: 7.5px;
        background-color: #333;
        position: fixed;
        top: 70px;
        width: 98%;
        padding: 20px 0;
        z-index: 2;
        transition: left 0.3s ease;
    } */


    .nav-list {
        flex-direction: column;
        background-color: #333;
        position: fixed;
        margin-left: 10px;
        margin-right: 10px;
        top: 60px;
        left: -100%;
        width: 98%;
        padding: 20px 0;
        z-index: 2;
        transition: left 0.3s ease;
    }

    .nav-item a.no-underline::before {
        width: 0;
    }


    #login_btn {
        padding: 6px 10px;
        margin-left: 10px;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    #login_btn:hover {
        background-color: #fff;
        color: rgb(58, 55, 55);
        transform: translateY(-2px);

    }

    .nav-list.active {
        left: 0;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-item a {
        color: #fff;
    }

    .toggle-btn {
        display: block;
        position: absolute;
        top: 18px;
        right: 16px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 3;
        margin-right: 20px;
    }

    .toggle-btn span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .toggle-btn.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle-btn.active span:nth-child(2) {
        opacity: 0;
    }

    .toggle-btn.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-230deg);
    }


    nav ul li.active button {
        color: #00fffc;
    }

    nav ul li:not(.active):hover button {
        color: #807E8C;
    }

    nav .active-element {
        /* --active-element-scale-x: 1; */
        /* --active-element-scale-y: 1; */
        --active-element-show: 0;
        --active-element-opacity: 0;
        --active-element-width: 0px;
        --active-element-strike-y: 0%;
        /* --active-element-mask-position: 0%; */
        /* display: none; */
        /* position: absolute; */
        left: 0;
        /* top: 34px; */
        height: 3px;
        width: 50px;
        border-radius: 2px;
        background-color: #fff;
        opacity: var(--active-element-show);
    }





    nav .active-element>svg,
    nav .active-element .strike {
        position: absolute;
        /* right: 0; */
        /* top: 50%; */
        transform: translateX(-50%);
        opacity: var(--active-element-opacity);
        width: var(--active-element-width);
        /* mix-blend-mode: multiply; */
    }

    nav .active-element>svg {
        /* display: block; */
        /* overflow: visible; */
        /* height: 5px; */
        filter: blur(0.5px) drop-shadow(2px 0px 8px rgba(0, 117, 255, 0.4)) drop-shadow(1px 0px 2px rgba(0, 128, 255, 0.8)) drop-shadow(0px 0px 3px rgba(153, 204, 255, 0.4)) drop-shadow(2px 0px 8px rgba(137, 196, 255, 0.45)) drop-shadow(8px 0px 16px rgba(153, 204, 255, 0.5));
    }

    nav .active-element .strike {
        padding: 24px 0;
        -webkit-mask-image: linear-gradient(to right, transparent calc(0% + var(--active-element-mask-position)), black calc(15% + var(--active-element-mask-position)), black 80%, transparent);
        mask-image: linear-gradient(to right, transparent calc(0% + var(--active-element-mask-position)), black calc(15% + var(--active-element-mask-position)), black 80%, transparent);
    }

    nav .active-element .strike svg {
        /* display: block; */
        /* overflow: visible; */
        height: 12px;
        width: calc(var(--active-element-width) * 2);
        transform: translate(var(--active-element-strike-y), 30%) scale(var(--active-element-scale-y), var(--active-element-scale-x));
    }

    nav .active-element .strike svg:last-child {
        transform: translate(var(--active-element-strike-y), -30%) scale(-1);
    }

    nav .active-element .strike svg g path:nth-child(2) {
        filter: blur(2px);
    }

    nav .active-element .strike svg g path:nth-child(3) {
        filter: blur(4px);
    }

    nav.before .active-element {
        transform: rotateY(180deg);
    }
}